<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="EnqLyst" version="1.0.0">
   <name>EnqLyst</name>
   <js-module name="EnqLyst" src="www/EnqLyst.js">
      <clobbers target="cordova.plugins.EnqLyst" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="EnqLyst">
            <param name="android-package" value="EnqLyst.EnqLyst" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/EnqLyst.java" target-dir="src/EnqLyst/EnqLyst" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="EnqLyst">
            <param name="ios-package" value="EnqLyst" />
         </feature>
      </config-file>
      <source-file src="src/ios/EnqLyst.m" />
   </platform>
</plugin>